@ansible_home = "/vagrant"

Vagrant.configure("2") do |config|
  config.vm.define "debian9" do |subconfig|
    subconfig.vm.box = "debian/stretch64"
  end

  config.vm.define "centos7" do |subconfig|
    subconfig.vm.box = "centos/7"
  end
  
  # Disable the new default behavior introduced in Vagrant 1.7, to
  # ensure that all Vagrant machines will use the same SSH key pair.
  # See https://github.com/mitchellh/vagrant/issues/5005
  config.ssh.insert_key = false

  config.vm.synced_folder "../", "#{@ansible_home}/roles/{{ role_name }}", type: 'rsync'

  config.vm.provision "shell", inline: "chown -R vagrant:vagrant #{@ansible_home}"

  config.vm.provision "ansible_local" do |ansible|
    ansible.playbook = "test.yml"
  end
end